body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.header-top{
    background-color: #E0E0E0;      
    height: 60PX;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top span{
    color: #333;  
    font-size: 20px;
    font-weight: 600;
}

.menu-icon div {
    width: 35px;  
    height: 5px;
    left: 372px;
    background-color: #333;
    margin: 6px 0;
}


.responsive-menu ul{
    flex-direction: row;
    list-style-type: none;
    background-color: #333;
    font-size: 16px;
    color:white;
    position: fixed;
    height: 100%;
    width: 85.4%;   
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 20px 0;
}

.responsive-menu ul li{
    text-align: right;
    margin: 7px 0;
    padding: 0 20px;
}

.responsive-menu ul li:nth-child(1) {
    text-align: left;
}

.responsive-menu ul li:hover{
        background-color: #c4c4c4;
        color: #333;
}

.responsive-menu ul li:hover:nth-child(1){
    background-color: #333;
    color: white;
}
.responsive-menu:hover ul{
    display: block;
}
/*---------------------------------------- */

@media screen and (max-width: 768px){
    .menu-icon{
        display: block;
    }


}
.responsive-menu ul{
    display: flex;
    position: relative;
    width: 350px;
    height: 40px;
    background-color: white;
    color: #333;
}
